*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Dancing Script', cursive;
  background-color: #000;
  color: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  line-height: 1.6;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen {
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
  }
}
